:root {
    --primary-color : rgb(0, 0, 0);
    --white : rgb(255, 255, 255);
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
    margin-bottom: 50px;
    justify-content: space-between;

}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
    color: var(--white);

}

header, footer {
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: right;
}


li {
    display: inline-flex;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
}

footer span {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 10px;
}

img#logo {
    height: 40px;
    width: 40px;
    margin: 5px 20px;
    border: 1px solid var(--white);
    border-radius: 0 15px 0 15px;
}

#login-btn {
    height: 30px;
    margin: 10px 50px 5px 0;
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 0 15px;
}

#login-btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 350px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
}
